
<section class="reward">
	<a class="btn-reward" href="#">打赏</a>
	<div class="reward-wrapper clearfix">
		<img src="/images/dashang.png" title="微信">
	</div>
</section>

<% if(theme.plugins.livere_code) { %>
	<div id="lv-container" data-id="city" data-uid="<%= theme.plugins.livere_code %>"></div>
<% } %>